$headerHeight: 70px;
// colors
$baseTextBlueBlack: rgba(44, 62, 81, 1);
$baseGreyblack: rgba(53, 56, 70, 1);
$baseGreen: rgba(78, 205, 196, 1);
$baseWhite: rgba(255, 255, 255, 1);
$baseRed: rgba(255, 107, 107, 1);
$baseYellow: rgba(255, 230, 109, 1);
$footerBackgroundGrey: rgba(242, 245, 248, 1);
$footerTextGrey: rgba(147, 147, 147, 1);
$footerLineGrey: rgba(205, 206, 210, 1);
$contentDividerLine: rgba(238, 238, 238, 1);
$h3slantBackground: rgba(0, 188, 212, 0.4);
$slate: #44c9f5;
$dynamo: #a4cd3a;
$presquevu: #fd8500;
$chelada: #4356a5;
$eatlas: #4f87db;
